.project_video_container {
  color: inherit !important;
  height: 100vh !important;
  width: 100vw !important;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around!important;
  align-items: center !important;
}

.project_video_media {
  width: 100%;
  height: 100%;
}