.project_preview_media {
  height: 20vh;
  width: 20vh;
}

@media screen and (min-width:1200px) {
  .project_preview_media {
    height: 60vh;
    width: 60vh;
  }
}

@media screen and (min-width:800px) and (max-width: 1199px) {
  .project_preview_media {
    height: 40vh;
    width: 40vh;
  }
}

@media screen and (min-width:600px) and (max-width: 799px) {
  .project_preview_media {
    height: 30vh;
    width: 30vh;
  }
}


