.project_video_container {
  color: #272727 !important;
  height: 100vh !important;
  width: 100vw !important;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.project_video_media {
  width: 100%;
  height: 100%;
}

.project_video_context {
  background-color: #272727;
  color: #E8E1EF;
  text-align: center;
}