.side_menu_container_avatar_close {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 10% 10% 10% 10%;

}

.side_menu_container  {
  display: flex !important;
  flex-direction: row !important;
  position: relative;
}