.side_menu_container_avatar_close {
  border: 1px solid #272727;
  border-radius: 10% 10% 10% 10%;
  height: 100% !important;
}

.side_menu_card_children_display {
  text-align: center !important;
  padding: 10% !important;
  border: 10px solid #272727 !important;
  background-color: #272727 !important;
  color: #F0F7F4 !important;

}

@media screen and (max-width: 500px) {
  .side_menu_container {
    flex-direction: column;
    width: 100%;
    height: 500px;
  }
}

.side_menu_container {
  top: 0 !important;
  display: flex !important;
  flex-direction: row !important;
  position: sticky !important;
  height: 100% !important;
  width: 100%!important;
  background-color: red;
}