.display_resume_container {
  overflow: hidden ;
  text-align: left;
}

.display_resume_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display_resume_card_media {
  height: 2580px;
  width: 989px;
  align-self: center;
}

@media screen and (min-width:1200px) {
  .display_resume_card_media {
    height: 2580px;
    width: 989px;
    align-self: center;
  }
}

@media screen and (min-width:800px) and (max-width: 1199px) {
  .display_resume_card_media {
    height: 1290px ;
    width: 494px ;
    align-self: center;
  }
}

@media screen and (min-width:600px) and (max-width: 799px) {
  .display_resume_card_media {
    height: 1290px ;
    width: 494px ;
    align-self: center;
  }
}


@media screen and (min-width:350px) and (max-width: 599px) {
  .display_resume_card_media {
    height: 645px ;
    width: 247px ;
    align-self: center;
  }
}

@media screen and (min-width:250px) and (max-width: 349px) {
  .display_resume_card_media {
    height: 322px ;
    width: 123px ;
    align-self: center;
  }
}

@media screen and (max-width:249px) {
  .display_resume_card_media {
    height: 161px ;
    width: 61px ;
    align-self: center;
  }
}