.display_resume_container {
  overflow: hidden !important;
  text-align: left;
}

.display_resume_card {
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
}


.display_resume_card_media {
  height: 2580px!important;
  width: 989px!important;
  align-self: center!important;
}

@media screen and (min-width:1200px) {
  .display_resume_card_media {
    height: 2580px!important;
    width: 989px!important;
    align-self: center!important;
  }
}

@media screen and (min-width:800px) and (max-width: 1199px) {
  .display_resume_card_media {
    height: 1290px !important;
    width: 494px !important;
    align-self: center!important;
  }
}

@media screen and (min-width:600px) and (max-width: 799px) {
  .display_resume_card_media {
    height: 1290px !important;
    width: 494px !important;
    align-self: center!important;
  }
}


@media screen and (min-width:350px) and (max-width: 599px) {
  .display_resume_card_media {
    height: 645px !important;
    width: 247px !important;
    align-self: center!important;
  }
}

@media screen and (min-width:250px) and (max-width: 349px) {
  .display_resume_card_media {
    height: 322px !important;
    width: 123px !important;
    align-self: center!important;
  }
}

@media screen and (max-width:249px) {
  .display_resume_card_media {
    height: 161px !important;
    width: 61px !important;
    align-self: center!important;
  }
}